/* group selector
h1, span, p {
    color:aquamarine;
    font-size: 50px;
}

 /* element selector */
/* h1 {
    color:red
}
span{
    color:aqua
}
p{
    color:black
} */

/* for id we uses ( # ) */
/* #hello-css{
    color:blue;
}


#hello-html{
    color:aqua
}

#hello-css, #hello-html{
    font-size: 100px; */
/* } */
/* for class we uses ( . ) */

/* h1 { */
/* color: #aa45aa; */
/* background-color: rgb(1, 8, 2);
    border: 3px solid;
    border-color: blue; */
/* font-weight: bold;
    font-style: italic;
    text-shadow: black; */
/* letter-spacing: 20px;
    word-spacing: 30px; */
/* line-height: 50px; */
/* } */

/* a{
    font-size: 50px;
    text-decoration: none;
    color:antiquewhite
}
a:hover{
    color:rgb(26, 95, 95)
}
a:focus{
    color:rgb(35, 14, 54)
} */
/* #wrapper{
    list-style-type:lower-alpha
 }
 *{
    color:rgb(99, 18, 18);
    font-size: 50px;
    text-decoration: underline;
    margin: 0;
    padding: 0;

 } */
/* input{
    border: 3px solid rgb(190, 112, 9);
  }

  input[type="password"]{
    border: 3px solid rgb(144, 218, 25);
  }
  
  a{
    font-size: 90px;
  }

  a[href*="link"]{
    font-size: 60px;
  }
  
  #div-1  p{
    font-weight: bold;
    font-style: italic;
    font-size: 50px;
  }

  #div-1 > span{
    font-size: 40px;
    color: rgb(12, 70, 70);
  }

  .box{
    padding: 20px color;
    margin: 20px 20px 20px 20px;
    border: 20px solid rgb(226, 9, 53);
    width: 200px;
    height: 300px;
    box-sizing: border-box;
    display: none;

  } */
/* .card {
    width: 100%;
    height: 2000px;
    border: 1px solid rgb(161, 14, 44);
    background-image: url(image/profile\ 1.jpg);
    background-repeat: no-repeat;
    background-color: blueviolet;
    background-position: right top;
    background-attachment: scroll; */
/* background: color rebeccapurple url(image/profile\ 1.jpg) no-repeat scroll right top; */
/* } */

/* .task1,
.task2,
.task3 {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    background-color: blueviolet;
    padding: 5px;
    color: azure;
    font-size: 30px;
}

.task2 {
    padding-left: 20px;
    position: relative;
    top: 80px;
    z-index: 1;
    
    

}

.task3{
    position: relative;
    z-index: 2;

}

.task1{
    top: 140px;
    position: relative;
    z-index: 4;
    
} */

/* span {
    background-color: black;
    position: absolute;
    top: 0;
    left: 300px;
} */

/* .fixed-element{
    position:fixed;
    background-color: chartreuse;
    font-size: 50px;
    width: 300px;
    height: 300px;
    color: aliceblue;
    left: 400px;
} */
/* transition ----> property duration timing-function delay */

/* .hover-button{
    width: 300px;
    height: 40px;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    border: 5px solid rgb(153, 70, 11);
    background-color: black;
    color: aliceblue;
    cursor: pointer;
    transition: background-color 3s, color 3s step-end 1s;
    transform: rotate(.5turn); 
    
}

.hover-button:hover{
    background-color: blueviolet;
    color: blue;
    border: 5px solid rgb(8, 6, 5);
} */

/* .topic{
    font-size: 30px;
    margin: 10px;
}

/* .flex-container{
    width: 1200px;
    border: 2px solid rgb(238, 18, 10);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 500px;
    align-items: center;
    align-content: center;
} */

/* .flex-item{
    width: 100px;
    height: 100px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: black;

/* } */

/* .flex-item.item1{
    align-self: flex-end;
}

.flex-item.item3{
    align-self: flex-start;
}

.flex-item.item5{
    align-self: flex-end;
} */

/* .content{
    width: 1200px;
    height: 1200px;
    border: 1px solid rgb(224, 36, 11);
    display: flex;
    justify-content: space-between;
    flex-direction: column; */
/* } */

/* .content-one{
    background-color: blueviolet;
    color: azure;
    width: 1000px;
    flex-grow: 1;
    flex-shrink: 2;
    
} */

/* .content-two{
    background-color: blue;
    color: azure; */
/* width: 250px; */
/* flex-grow: 2; */
/* width: 1000px; */

/* flex-basis: 600px;
} */

/* .content-three{
    background-color: brown;
    color: azure;
    width: 1000px;
    flex-shrink: 2;
    
} */
/* body {
    background-color: blueviolet;
}

.title {
    font-size: 100px;
}

.items-wrapper {
    display: flex;
}

.items-wrapper p {
    font-size: 40px;
    width: 200px;
}

.items-wrapper p:first-child {
    background-color: azure;
}

.items-wrapper p:last-child {
    background-color: aqua;
}

@media only screen and (max-width : 1200px) {
    .title {
        font-size: 50px;
    }

    body {
        background-color: brown;
    }

    .items-wrapper {
        flex-direction: column;
    }
} */

/* .title {
    font-size: 30px;
    color: blue;
    text-align: center;
}

.card {
    width: 350px;
    height: 350px;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: aqua;
    animation-name: changetransition;
    animation-duration: 5s;
    animation-iteration-count: 2;
    animation-delay: 3s;
}

@keyframes changetransition {
    0% {
        transform: translateX(600px);
        background-color: blue;
    }

    25% {
        transform: translateX(450px);
        background-color: blueviolet;
    }

    50% {
        transform: translateX(300px);
        background-color: brown;
    }

    75% {
        transform: translateX(150px);
        background-color: azure;
    }

    100% {
        transform: translateX(0px);
        background-color: chartreuse;
    }

} */

/* @keyframes changetextcolor {
    from{
        color: aliceblue;
        background-color: aqua;
    }

    to{
        color: black;
        background-color: blue;
    }

} */

/* .grid-container {
    width: 500px;
    height: 500px;
    background-color: black;
    margin: 80px auto;
    display: grid;
    grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    border: 20px solid #000;


}

.item {
    color: azure;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
} */

.content {
    width: calc(50%);
    display: flex;
    background-color: black;
    color: azure;

}

.content p :first-child {
    width: calc(100% - 300px);
    background-color: aqua;
}

/* :root {
    --bg-color: black;
    --text-color: #fff;
}

p {
    font-size: 40px;
    font-weight: bolder;
    font-style: oblique;
}

/* p::before {
    content: "Jawad";
    font-size: 40px;
    font-weight: bolder;
    font-style: oblique;
    color: blueviolet;
    letter-spacing: normal;
    word-spacing: normal;

}

p::after {
    content: "khan";
    font-size: 40px;
    font-weight: bolder;
    font-style: oblique;
    color: blueviolet;
    letter-spacing: normal;
    word-spacing: 10px;
} */

/* h1,
p,
button {
    background-color: var(--bg-color);
    color: var(--text-color);
} */